@model CoreLogin.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout"; // Assuming your layout file is named "_Layout.cshtml"
}
<style>
    /* Add style for background color */
    body {
        background-color: darkorange;
    }

    input[type="text"]::placeholder {
        color: darkorange; /* Set placeholder text color for "Password" input field */
    }

    input[type="password"]::placeholder {
        color: darkorange; /* Set placeholder text color for "Password" input field */
    }
</style>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="border: 2px solid darkorange;">
        <div class="card-body">
            <!-- Replace "Voxtron" with logo image -->
            <div style="text-align: center;">
                <img src="~/imagevox.png" alt="Logo" style="width: 150px; height: 135px;">
            </div>

            <form asp-action="Login" method="post">
                <div class="form-group mb-3">
                    <!-- Added mb-3 class for margin bottom -->
                    <input asp-for="Username" class="form-control" style="border: 2px solid #000; margin-top: 10px; color: black;" placeholder="Username" />
                    <!-- Added margin-top: 10px; to create space between text and textbox -->
                </div>
                <div class="form-group mb-3">
                    <!-- Added mb-3 class for margin bottom -->
                    <input asp-for="Password" type="password" class="form-control" style="border:2px solid #000; color: black;" placeholder="Password" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block" style="background-color: #000;color: darkorange;">Login</button>
                </div>
                @if (!ViewData.ModelState.IsValid)
                {
                    <div style="margin-top: 10px; color:darkorange;">@Html.ValidationSummary()</div>
                }
            </form>
        </div>
    </div>
</div>
<div class="container text-center mt-0">
    <!-- Reduce the top margin to 1 -->
    <p>If you don't have an account, please register here.</p>
    <a href="@Url.Action("Register", "Account")" class="btn btn-info" style="background-color: #000; color:darkorange;">Register</a>
</div>
